{% assign product_price = product.price | money_without_trailing_zeros %}
<span class="price-trend-badge" data-product-handle="{{ product.handle }}">
  <span class="price-trend-badge__label">{{ 'priceelephant.trend_label' | t }}</span>
  <span class="price-trend-badge__value" data-trend-value>--</span>
</span>
